{% liquid
  graphql cards = 'card/search'
  graphql uploaded_images = 'image/search'
%}


<h1 class="text-4xl bg-indigo-900 text-white w-full p-16">Welcome to MTG World!</h1>

<section class="deck-building my-14">
    
    <h2 class="text-xl mb-4">Start building your deck</h2>
    <div class="w-3/5 my-10 mx-auto text-gray-600">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum at voluptates hic! Repudiandae itaque laborum, qui natus fugiat obcaecati aperiam ipsum et laudantium asperiores optio in ea? Veniam, nesciunt consectetur.</p>
    </div>
    <div class= "bg-indigo-900 rounded-lg justify-center m-auto w-4/5 flex shadow-lg">
        <!-- form for adding new card -->
        <form action="/card/create" method="post" class="p-5 ">
            <input class="add-card-input" type="text" name="name" id="name" placeholder="Card name" required>
            <input class="add-card-input" type="text" name="colors" id="colors" placeholder="Colors">
            <input class="add-card-input" type="text" name="types" id="types" placeholder="Types">
            <button type="submit" class="bg-green-700 text-white p-3 uppercase font-normal font-sans m-3 rounded-md hover:opacity-80">Add card</button>
        </form>
    </div>

    <table class="deck table-auto w-4/5 my-8 mx-auto shadow-2xl">
        <tr>
            <th>Card name</th>
            <th>Colors</th>
            <th>Types</th>
            <th>Remove</th>
        </tr>
        {% for card in cards.records.results %}
            <tr>
                <td>{{ card.name }}</td>
                <td>{{ card.colors }}</td>
                <td>{{ card.types }}</td>
                <td>
                    <form action="/card/delete" method="post">
                        <input type="hidden" name="id" value="{{ card.id }}">
                        <button class="delete-btn" type="submit">X</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</section>

{% graphql data %}
  mutation presign {
    property_upload_presigned_url(table: "images", property_name: "image") {
      upload_url
      upload_url_payload
    }
  }
{% endgraphql %}

<!-- form for adding new image -->
<form id="uploadForm" action="{{ data.property_upload_presigned_url.upload_url }}" enctype="multipart/form-data" method="post">
  {% for field in data.property_upload_presigned_url.upload_url_payload %}
    <input type="hidden" name="{{ field[0] }}" value='{{ field[1] }}'>
  {% endfor %}
  <input id="file" name="file" type="file"/>
  <button type="button" onclick="uploadFile()">Upload Image</button>
</form>

<!-- list of photos -->
<ul>
	{% for record in uploaded_images.records.results %}
		<li>
            <a href="{{ record.image.url }}">
                <img src="{{ record.image.url }}" alt="" width="200px">
            </a>
		  {% comment %} <form action="/item/delete" method="post">
		  	<input type="hidden" name="id" value="{{ item.id }}">
			<button type="submit">Mark as done</button>
		  </form> {% endcomment %}
		</li>
	  {% endfor %}
	<li>
</ul>